@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg: var(--color-yellow-50);

  @variant dark {
    --ui-bg: var(--color-slate-900);
  }
}

body {
  margin: 0 auto;
  max-width: 1040px;
}

body, html {
  background-color: var(--color-yellow-100);
  color: var(--color-slate-900);
  padding: 10px;

  @variant dark {
    background-color: var(--color-slate-800);
    color: var(--color-yellow-100);
  }
}

h2 {
	font-size: x-large;
}

h2, h3{
	font-weight: bold;
}

h2, h3, h4 {
  margin: 3% auto;
}

h3 {
	width: 100%;
	border-bottom-width: 2px;
}

h3, h4 {
	border-bottom-style: solid;
  padding: 2%;
}

h4 {
	border-bottom-width: 1px;
	font-weight: 600;
	padding-right: 15px;
}

header:not(article header) {
  align-items: center;
  background-color: var(--color-yellow-100);
  border-bottom: 2px solid;
  border-bottom-color: var(--color-yellow-200);
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  padding: 1rem;
  position: fixed;
  top: 0px;
  width: 96%;
  z-index: 99;

  @variant dark {
    background-color: var(--color-slate-800);
    border-bottom-color: var(--color-slate-900);
  }

  nav {
    position: relative;
    z-index: 99;
  }
}

main {
    &> div {
        margin: 4rem auto 0;
        padding: 2% 4%;
        &> div {
            padding: 2%;
            p {
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }
    }
}

.code {
  background-color: var(--color-slate-300);

  @variant dark {
    background-color: var(--color-slate-900);
  }
}

code {
  font-size: small;
  
  &> div {
    margin: 0;
    
    div {
      margin-left: 15px;
    }
  }
}